window#waybar {
    background: transparent;
    border-radius: 0;
}

window#waybar > box {
    background: #161616;
    border-radius: 5px;
}

.modules-center,
.modules-left,
.modules-right {
    border: none;
    background: transparent;
    border-radius: 0;
    padding: 0;
}